body {
    background-image: url("/images/loginbg.jpg");
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    color: #fff;
}

.auth-form {
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.9);
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 

.form-group {
    margin-bottom: 15px; 
}

.alert {
    margin-top: 15px; 
}

h2 {
    margin-top: 40px;
    text-align: center; 
    color: white; 
}

label {
    color: white; 
}

.btn-primary {
    width: 100%; 
}
